@use "../../styles.scss" as globals;

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .login-button {
    width: 150px;
    margin-top: 8px;
    background-color: globals.$primary-green;
    color: white;
    padding: 4px;
    border-radius: 4px;
    border: none;

    &:disabled {
      background-color: gray;
    }
  }
}
