/* You can add global styles to this file, and also import other style files */
$darkest-blue: #161925;
$dark-blue: #23395b;
$med-blue: #406e8e;
$powder-blue: #8ea8c3;
$pastel-green: #cbf7ed;
$primary-green: #349b27;

body {
  background-color: $dark-blue;
  color: white;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

button {
  cursor: pointer;
  &:disabled {
    color: white;
    cursor: not-allowed;
  }
}
